{{ 'carousel-section.css' | asset_url | stylesheet_tag }}

<div
  style="display: flex; flex-wrap: wrap"
  {% if section.settings.with_side %}
    class="product-carousel-wrapper-side"
  {% else %}
    class="product-carousel-wrapper"
  {% endif %}
>
  {% if section.settings.with_side %}
    <div class="custom-column">
      <div style="position: relative;" class="best-sellers">
        <h1 style="color: white; font: 'Poppins', sans-serif;">{{ section.settings.collection.title | upcase }}</h1>
        <a class="text-view" href="{{ section.settings.collection.url }}"
          >VIEW ALL <i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  {% endif %}
  <div
    id="{{ section.id }}"
    {% if section.settings.with_side %}
      class="custom-wide-column"
    {% endif %}
  >
    <div data-carousel-settings data-items-count="{{ section.settings.no_of_items | default: 4 }}"></div>
    <button {% if section.settings.with_side %} class="owl-prev-custom-side" {% else %} class="owl-prev-custom" {% endif %}><i class="fa fa-angle-left"></i></button>

    <div class="owl-carousel">
      {% for product in section.settings.collection.products %}
        {% assign first_variant = product.variants.first %}
        {% assign original_price = first_variant.compare_at_price %}
        {% assign sale_price = first_variant.price %}
        <div class="item product-card">
          <a href="{{ product.url }}">
            <div class="image-wrapper">
              {% if original_price > sale_price %}
                {% assign discount = 100 | times: sale_price | divided_by: original_price | minus: 100 | round %}
                <div class="sale-badge">{{ discount | abs }}% OFF</div>
              {% endif %}
              <img
                srcset="
                  {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                "
                src="{{ product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ product.featured_media.width }}"
                height="{{ product.featured_media.height }}"
              >
            </div>
            <div class="product-info">
              <p class="product-title">{{ product.title }}</p>
              <div class="product-price">
                <span class="sale-price">{{ sale_price | money }}</span>
                {% if original_price > sale_price %}
                  <span class="compare-price">{{ original_price | money }}</span>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
        {% if original_price > sale_price %}
          {% assign discount = 100 | times: sale_price | divided_by: original_price | minus: 100 | round %}
          <div class="flag-sale d-flex">
            <div class="flag-product sale">sale</div>
            <div class="flag-product off">{{ discount | abs }}%</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <button {% if section.settings.with_side %} class="owl-next-custom-side" {% else %} class="owl-next-custom" {% endif %}><i class="fa fa-angle-right"></i></button>
  </div>
</div>

{% comment %} <script>
  document.addEventListener('DOMContentLoaded', function () {
    var $carousel = $('#{{ section.id }} .owl-carousel');

    $carousel.owlCarousel({
      loop: true,
      margin: 10,
      nav: false,
      dots: false,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      smartSpeed: 600,
      responsive: {
        0: {
          items: 1,
        },
        768: {
          items: {{ section.settings.no_of_items | default: 4 }},
        }
      },
    });

    console.log('Carousel Product setting:', {{ section.settings.no_of_items | default: 4 }});

    $('.owl-prev-custom').on('click', function () {
      $carousel.trigger('prev.owl.carousel');
    });

    $('.owl-next-custom').on('click', function () {
      $carousel.trigger('next.owl.carousel');
    });
  });
</script> {% endcomment %}
<script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Product Carousel",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Number Of Items",
      "id": "no_of_items",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "with_side",
      "label": "With side?",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
