{{ 'carousel-section.css' | asset_url | stylesheet_tag }}

<div
  style="display: flex; flex-wrap: wrap"
  {% if section.settings.with_side or featured %}
    class="product-carousel-wrapper-side"
  {% else %}
    class="product-carousel-wrapper"
  {% endif %}
>
  {% if section.settings.with_side %}
    <div class="custom-column">
      <div style="position: relative;" class="best-sellers">
        <h1 style="color: white; font: 'Poppins', sans-serif;">{{ section.settings.collection.title | upcase }}</h1>
        <a class="text-view" href="{{ section.settings.collection.url }}"
          >VIEW ALL <i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  {% endif %}
  <div
    id="{{ section.id }}"
    {% if section.settings.with_side %}
      class="custom-wide-column"
    {% endif %}
  >
    <div data-carousel-settings data-items-count="{{ section.settings.no_of_items | default: 4 }}"></div>
    <button
      {% if section.settings.with_side %}
        class="owl-prev-custom-side"
      {% else %}
        class="owl-prev-custom"
      {% endif %}
    >
      <i class="fa fa-angle-left"></i>
    </button>
    {% if section.settings.no_of_items == 1 %}
      {% assign featured = true %}
    {% else %}
      {% assign featured = false %}
    {% endif %}

    <div class="owl-carousel" data-carousel-id="{{ section.id }}">
      {% for product in section.settings.collection.products %}
        {% render 'carousel-product-card', product: product, featured: featured %}
      {% endfor %}
    </div>

    <button
      {% if section.settings.with_side %}
        class="owl-next-custom-side"
      {% else %}
        class="owl-next-custom"
      {% endif %}
    >
      <i class="fa fa-angle-right"></i>
    </button>
  </div>
</div>

<script src="{{ 'carousel-section.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Product Carousel",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Number Of Items",
      "id": "no_of_items",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "with_side",
      "label": "With side?",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
