{{ 'carousel-section.css' | asset_url | stylesheet_tag }}

{% if section.settings.no_of_items == 1 %}
  {% assign featured = true %}
{% else %}
  {% assign featured = false %}
{% endif %}
<product-recommendations
  class="product-recommendations related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show | default: 8 }}"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product.id }}"
>
    {% if recommendations.performed and recommendations.products_count > 0 %}

<div
  style="display: flex; flex-wrap: wrap"
  {% if section.settings.with_side or featured %}
    class="product-carousel-wrapper-side"
  {% else %}
    class="product-carousel-wrapper"
  {% endif %}
>
  {% if section.settings.with_side %}
    <div class="custom-column">
      <div style="position: relative;" class="best-sellers">
        <h1 style="color: white; font: 'Poppins', sans-serif;">
          {{ section.settings.title }}
        </h1>
      </div>
    </div>
  {% endif %}
  <div
    id="{{ section.id }}"
    {% if section.settings.with_side %}
      class="custom-wide-column"
    {% endif %}
  >
    <div data-carousel-settings data-items-count="{{ section.settings.no_of_items | default: 4 }}"></div>
    <button
      {% if section.settings.with_side %}
        class="owl-prev-custom-side"
      {% else %}
        class="owl-prev-custom"
      {% endif %}
    >
      <i class="fa fa-angle-left"></i>
    </button>

    <div class="owl-carousel" data-carousel-id="{{ section.id }}">
      {% assign products = recommendations.products %}
      {% for product in products %}
        {% render 'carousel-product-card', product: product, featured: featured %}
      {% endfor %}
    </div>

    <button
      {% if section.settings.with_side %}
        class="owl-next-custom-side"
      {% else %}
        class="owl-next-custom"
      {% endif %}
    >
      <i class="fa fa-angle-right"></i>
    </button>
  </div>
</div>

{% endif %}
</product-recommendations>


<script src="{{ 'owl-after-recommendations.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Related Product Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default":"title"
    },
    {
      "type": "range",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Number Of Items",
      "id": "no_of_items",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "with_side",
      "label": "With side?",
      "default": false
    },
    {
  "type": "range",
  "id": "products_to_show",
  "label": "Products to request",
  "min": 2, "max": 12, "step": 1,
  "default": 8
}
  ],
  "presets": [
    {
      "name": "Related Product Carousel"
    }
  ]
}
{% endschema %}
